<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" th:src="${CART_DOMAIN}+'static/cart/js/jquery-3.1.1.min.js'"></script>
    <script type="text/javascript" th:src="${CART_DOMAIN}+'static/cart/bootstrap/js/bootstrap.js'"></script>
    <script th:src="${CART_DOMAIN}+'static/cart/js/swiper.min.js'" type="text/javascript"></script>
    <script th:src="${CART_DOMAIN}+'static/cart/js/swiper.min.js'"></script>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/success.css"/>

</head>

<body th:with="login_user=${session.get('login_user')},base_url=${SECKILL_DOMAIN+#httpServletRequest.requestURI+(#httpServletRequest.getQueryString()==null?'':'?'+#httpServletRequest.getQueryString())}">
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a th:href="${MAIN_DOMAIN}">商城首页</a>
            </li>

        </ul>

        <ul class="hd_wrap_right">
            <li class="forel">
                <a th:href="${AUTH_DOMAIN+'login.html?redirect_url='+base_url}"
                   class="link_login"
                   th:text="${login_user!=null?login_user.username:'请登录'}"></a>&nbsp;
                <a class="link_regist" th:href="${AUTH_DOMAIN}+'reg.html'" th:if="${login_user==null}">免费注册</a>
            </li>
            <li class="spacer"></li>

            <li>
                <a th:href="${MEMBER_DOMAIN}+'memberOrder.html'">我的订单</a>
            </li>

        </ul>

    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">

        <div class="nav_top">
            <div class="nav_top_one">
                <a href="/static/cart//#"><img th:src="${MAIN_DOMAIN}+'static/index/img/logo.jpg'"
                                               style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>


        </div>

    </div>
</div>

<div class="main">
    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <div th:if="${orderSn!=null}" class="mc success-cont">
                    <div class="success-btns success-btns-new">
                        <h1 th:text="${'秒杀成功! 订单号: '+orderSn}"></h1>
                        <div class="clr"></div>
                        <div class="bg_shop">
                            <a class="btn-addtocart"
                               th:href="${ORDER_DOMAIN}+'payOrder?orderSn='+${orderSn}+'&payType='+${payType}"
                               th:with="payType=${T(com.pika.gstore.common.enums.PayType).ALI_WEB.ordinal()}">去支付</a>
                        </div>
                    </div>
                </div>
                <div th:if="${orderSn==null}" class="mc success-cont">
                    <h1 style="color: red;margin-right: 485px;float: right">秒杀失败,超出商品可购买数量!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="${CART_DOMAIN}+'static/cart/js/success.js'"></script>

</html>
