version: "3"
services:
  cloud-guli-auth:
    container_name: cloud-guli-auth
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - "gulimall_server"
    ports:
      - "10000:10000"
    # 设置时区
    #    command: apk add tzdata && cp /usr/share/zoneinfo/Asia/Shanghai /etc/localtime && echo "Asia/Shanghai" > /etc/timezone && apk del tzdata
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos -Dspring.cloud.nacos.discovery.ip=cloud-guli-auth /opt/jar/cloud-guli-auth-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-cart:
    container_name: cloud-guli-cart
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "9900:9900"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-cart /opt/jar/cloud-guli-cart-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  #  cloud-guli-fast:
  #    container_name: cloud-guli-fast
  #    image: anapsix/alpine-java:8_server-jre_unlimited
  #    volumes:
  #      - "/opt/docker/gulimall/jar:/opt/jar"
  #    networks:
  #      - gulimall_server
  #    ports:
  #      - "8080:8080"
  #    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.application.name=cloud-guli-fast -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-fast  /opt/jar/cloud-guli-fast-0.0.1-SNAPSHOT.jar
  #    privileged: true
  #    extra_hosts:
  #      - "host.docker.internal:host-gateway"

  cloud-guli-gateway:
    container_name: cloud-guli-gateway
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "6000:6000"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-gateway  /opt/jar/cloud-guli-gateway-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-member:
    container_name: cloud-guli-member
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "2000:2000"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-member  /opt/jar/cloud-guli-member-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-order:
    container_name: cloud-guli-order
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "4010:4010"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-order  /opt/jar/cloud-guli-order-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-product:
    container_name: cloud-guli-product
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "5000:5000"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-product  /opt/jar/cloud-guli-product-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-search:
    container_name: cloud-guli-search
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "9000:9000"
    entrypoint: java -jar -Delasticsearch.host=es -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-search  /opt/jar/cloud-guli-search-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-seckill:
    container_name: cloud-guli-seckill
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "8030:8030"
    entrypoint: java -jar -Delasticsearch.host=es -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-seckill  /opt/jar/cloud-guli-seckill-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-third-service:
    container_name: cloud-guli-third-service
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
      # 银联证书
      - "/opt/docker/gulimall/certs:/certs"
    networks:
      - gulimall_server
    ports:
      - "7000:7000"
    entrypoint: java -jar -Delasticsearch.host=es -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-third-service  /opt/jar/cloud-guli-third-service-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-ware:
    container_name: cloud-guli-ware
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "8001:8001"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dserver.port=8001 -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-ware  /opt/jar/cloud-guli-ware-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  cloud-guli-yhq:
    container_name: cloud-guli-yhq
    image: anapsix/alpine-java:8_server-jre_unlimited
    volumes:
      - "/opt/docker/gulimall/jar:/opt/jar"
    networks:
      - gulimall_server
    ports:
      - "3000:3000"
    entrypoint: java -jar -Dfile.encoding=utf-8 -Xms256m -Xmx500m -Dspring.cloud.nacos.server-addr=nacos:8848 -Dspring.cloud.nacos.username=nacos -Dspring.cloud.nacos.password=nacos  -Dspring.cloud.nacos.discovery.ip=cloud-guli-yhq  /opt/jar/cloud-guli-yhq-0.0.1-SNAPSHOT.jar
    privileged: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  gulimall_server:
    external: true
