<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_sass/JD1.css" rel="stylesheet"
          type="text/css"/>
    <script charset="utf-8"
            src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script charset="utf-8"
            src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_js/bcrypt.js" type="text/javascript"></script>
    <title>登录</title>
</head>
<body>
<!--顶部logo-->
<header>
    <div class="top-1">
        <a th:href="${MAIN_DOMAIN}">商城首页</a>
    </div>
</header>

<!--<div class="top-2">-->
<!--</div>-->

<!--大图-->
<div class="top-3">
    <div class="img_1">
        <!--        <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/background.png"/>-->
    </div>
    <div id="sign">
        <div class="si_top"
             th:with="err=${errors!=null?errors:(session.get('errors')!=null?session.get('errors'):null)}">
            <p>
                <span th:text="${err==null?'欢迎登录':err.get('msg')}"></span>
            </p>
        </div>
        <div class="si_cen">
            <h2 class="act btn1">扫码登录</h2>
            <span>|</span>
            <h2 class="btn1">账户登录</h2>
        </div>
        <div class="si_bom tab">
            <img class="bom_1" src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/show.png"/>
            <a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#"><img
                    class="bom_2"
                    src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/phone-orange.png"/></a>
            <h6>打开<span class="red">手机商城</span> 扫描二维码</h6>
            <p>
                <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/4de5019d2404d347897dee637895d02b_15.png"/>
                <span><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">免输入</a></span>
                <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/4de5019d2404d347897dee637895d02b_17.png"/>
                <span><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">更快</a></span>
                <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/4de5019d2404d347897dee637895d02b_19.png"/>
                <span><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">更安全</a></span>
            </p>
        </div>
        <div class="si_bom1 tab" style="display: none;">
            <div class="error">
                <div></div>
                请输入账户名和密码
            </div>
            <form action="/login" method="post" th:with="hasError=${errors!=null}">
                <input name="redirect_url" type="hidden" th:value="${redirect_url}">
                <ul>
                    <li class="top_1">
                        <img class="err_img1"
                             src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/user_03.png"/>
                        <input class="user" name="account" placeholder=" 邮箱/用户名/已验证手机" type="text"
                               value="pikachu"/>
                    </li>
                    <li>
                        <img class="err_img2"
                             src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/user_06.png"/>
                        <input class="password" name="password" placeholder=" 密码" type="password" value="123456"/>
                    </li>
                    <li class="bri">
                        <a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/">忘记密码</a>
                    </li>
                    <li class="ent">
                        <button class="btn2"><a>登 &nbsp; &nbsp;录</a></button>
                    </li>
                </ul>
            </form>

        </div>
        <div class="si_out">
            <ul>
                <li>
                    <a href="#">
                        <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/qq.png"/>
                        <span>QQ</span>
                    </a>
                </li>
                <li class="f4"> |</li>
                <li>
                    <a href="#">
                        <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/weixin.png"/>
                        <span>微信</span>
                    </a>
                </li>
                <li class="f4"> |</li>
                <li>
                    <a th:href="${gitee_url}">
                        <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/gitee.svg"
                             style="width: 50px;height: 50px"/>
                    </a>
                </li>
            </ul>
            <h5 class="rig">
                <img src="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/JD_img/4de5019d2404d347897dee637895d02b_25.png"/>
                <span><a th:href="${AUTH_DOMAIN}+'reg.html'">立即注册</a></span>
            </h5>
        </div>
    </div>
</div>


<!--底部-->
<footer>
    <ul>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">关于我们</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">联系我们</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">人才招聘</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">商家入驻</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">广告服务</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">手机商城</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">友情链接</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">销售联盟</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">商城社区</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">商城公益</a></li>
        <li class="little">|</li>
        <li><a href="https://mall-pika.oss-cn-guangzhou.aliyuncs.com/html/static/login/#">English Site</a></li>
    </ul>
    <span>Copyright &copy; 2022-2023 版权所有</span>
</footer>

</body>
<script type="text/javascript">
    var alDiv = document.getElementsByClassName('tab');
    var alBtn = document.getElementsByTagName('h2');
    alDiv[0].style.display = 'block';
    var act = alBtn[0]
    for (var i = 0; i < alBtn.length; i++) {
        alBtn[i].indent = i;
        alBtn[i].onclick = function () {
            act.className = '';
            alDiv[act.indent].style.display = 'none';
            this.className = 'act'
            alDiv[this.indent].style.display = 'block'
            act = this
        }
    }

    $(document).ready(function () {
        $("form").submit(function (e) {
            // e.preventDefault();
            /* https://github.com/dcodeIO/bcrypt.js */
            var bcrypt = dcodeIO.bcrypt;
            let form = $(this);
            var redirect_url = $('input[type=hidden]').val();
            var account = $('input[type=text]').val();
            var password = $('input[type=password]').val();
            if (account === "") {
                alert("用户名不能为空");
                return false;
            }
            if (password === "") {
                alert("密码不能为空");
                return false;
            } else {
                password = bcrypt.hashSync(password);
                // todo 密码加密传输
                // $('input[type=password]').val(password);
            }
            /* 将密码加密提交 */
            // $.post('/login', {redirect_url: redirect_url, account: account, password:password},
            //     function (result) {
            //         alert(result);
            //     }
            // );
        });
    });

</script>
</html>
